/* SITE STRUCTURE */

.site-header {
    background: #418b3d;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    
    a {
        color: white;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
    }

}

/* SITE NAVIGATION */
.site-nav {
    ul {
        margin: 0;
        list-style: none;
        display: flex;
        
    }
}

/* HERO SECTION */
.hero {
    background-color: $color-accent-light;
    text-align: center;
    padding: 6em 0;

    h1 {
        margin-bottom: .25em;
    }
    p {
        margin: 1em auto;
    }
}

/* SECTION HEADING */
.section-heading {
    font-size: 1em;
}